
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="col-md-4 col-lg-4 md-margin-bottom-40">
                    <a href="/Default.aspx">
                        <img alt="" class="footer-logo"
                             id="logo-footer" src="~/Assets/Client/Images/hawaco_footer.png">
                    </a>
                    <div class="md-margin-bottom-40 reset-theme">

                        <p>Tổng số lượt truy cập: <a href="#">0 1 8 4 9 0 0 0 </a></p>
                        <p>Số khách đang truy cập: <a href="#">27</a></p>
                        <p>Số tài khoản đang truy cập: <a href="#">3</a></p>

                    </div>
                </div>
                <div class="col-md-4 col-lg-4 md-margin-bottom-40">
                    <div class="headline">
                        <h2>Thông tin hỗ trợ&nbsp;khách hàng</h2>
                    </div>
                    <ul class="list-unstyled link-list">
                        <li>
                            <a href="~/Assets/Client/Images/CamNangSuDungNuoc.pdf" target="_blank">
                                Cẩm nang chỉ dẫn dùng
                                nước
                            </a>
                        </li>
                        <li><a href="/VanBanPhapLuat.aspx">Văn bản pháp luật</a></li>
                        <li><a href="/HoiDap.aspx">Hỏi đáp</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 map-img md-margin-bottom-40">
                    <div class="headline">
                        <h2>Thông tin liên hệ</h2>
                    </div>
                    <ul class="list-unstyled address-footer">
                        <li>
                            <i class="fa fa-home"></i>&nbsp;Địa chỉ: Số 44 Đường Yên Phụ, Phường Trúc Bạch,
                            <br>Quận Ba Đình, Thành phố Hà Nội
                        </li>
                        <li><i class="fa fa-phone"></i>&nbsp;Điện thoại: 024 382 93179 - 024 371 63611</li>
                        <li>
                            <i class="fa fa-envelope-o"></i>&nbsp;Email: <a href="mailto:info@hawacom.vn">info@hawacom.vn</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>