
    <div class="header">
        <div class="header-v6 header-classic-white header-sticky">
            <div class="navbar mega-menu" role="navigation">
                <div class="row">
                    <div class="container">
                        <div class="clear-both">
                            <!-- Logo -->
                            <div class="col-lg-4 col-md-4 hidden-xs hidden-sm">
                                <a class="logo" href="/">
                                    <img src="~/Assets/Client/Images/hawacologo.png" alt="Logo">
                                </a>
                            </div>
                            <!-- End Logo -->
                            <!-- Topbar -->
                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 hidden-xs hidden-sm">
                                <div id="divLogin" name="divLogin">
                                    <div class="topbar" style="width:500px; float:right;text-align:right;">
                                        <ul class="loginbar pull-right nav navbar-nav navbar-right hidden-xs hidden-sm">
                                            <li title="Hỗ trợ trực tuyến" style="font-size:15px !important;">
                                                <i class="fa">
                                                    <img src="~/Assets/Client//Images/phone.gif" height="20">
                                                </i>
                                                Hỗ trợ trực tuyến 24/7:
                                                <span class="color_hotline">
                                                    <b>024.3.829 3166</b>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="clr"></div>
                                    </div>
                                    <div class="topbar" style="width:500px; float:right;text-align:right;">

                                        <ul style="display:"
                                            class="loginbar pull-right nav navbar-nav navbar-right hidden-xs hidden-sm">
                                            <li>
                                                <i class="search fa search-btn fa-lock"
                                                   style="background-color: #ffffff !important; padding: 5px 5px; color: #000000 !important; font-size: 15px !important; ">
                                                    <a href="/SignIn.aspx"
                                                       style="text-decoration: none;background-color: #ffffff !important; color: #000000 !important; font-size: 15px !important;">
                                                        Đăng
                                                        nhập
                                                    </a>

                                                </i>
                                                <i class="search fa fa-user-plus"
                                                   style="background-color: #ffffff !important; padding: 5px 5px; color: #000000 !important; font-size: 15px !important; ">
                                                    <a href="/RegisterAccount.aspx"
                                                       style="text-decoration: none;background-color: #ffffff !important; color: #000000 !important; font-size: 15px !important;">
                                                        Đăng
                                                        ký
                                                    </a>
                                                </i>
                                            </li>
                                        </ul>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Topbar -->
                        <!-- Toggle get grouped for better mobile display -->
                        <div class="clear-both" style="margin-top:5px;margin-bottom:5px;">
                            <div class="col-md-8 col-sm-8 col-xs-8 hidden-md hidden-desktop hidden-lg  hidden-print"
                                 style="padding-bottom:5px;">
                                <a class="logo" href="/">
                                    <img src="~/Assets/Client//Images/hawacologo.png" alt="Logo">
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <button type="button" style="margin-left:3px !important;"
                                        class="navbar-toggle hidden-md hidden-desktop hidden-lg  hidden-print"
                                        data-toggle="collapse" data-target="#nav2">
                                    <span class="sr-only">
                                        Toggle
                                        navigation
                                    </span> <span class="fa fa-user"></span>
                                </button>
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-responsive-collapse">
                                    <span class="sr-only">
                                        Toggle
                                        navigation
                                    </span> <span class="fa fa-bars"></span>
                                </button>
                            </div>
                        </div>
                        <!-- End Toggle -->
                    </div>
                </div>

                <!-- Form login for mobile screen-->
                <div id="nav2"
                     class="collapse navbar-collapse navbar-responsive-collapse2 nav_margin hidden-md hidden-desktop hidden-lg  hidden-print">
                    <div class="container" style="overflow: hidden;">
                        <ul class="nav navbar-nav nav_khac">
                            <li class="">
                                <a href="/SignIn.aspx" style="content:none !important;">
                                    ĐĂNG NHẬP
                                </a>
                            </li>
                            <li class="">
                                <a href="/RegisterAccount.aspx" style="content:none !important;">
                                    ĐĂNG KÝ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End form login for mobile screen -->
                <!-- Menu nav -->
                <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse nav_margin">
                    <div class="container">
                        <ul class="nav navbar-nav nav_khac">
                            <li class="">
                                <a href="/" style="content:none !important;">
                                    TRANG CHỦ
                                </a>
                            </li>



                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle textEffect" data-toggle="dropdown">
                                    Giới thiệu
                                </a>


                                <ul class="dropdown-menu itemMenu">

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../GioiThieuCongTy.aspx">
                                            Giới
                                            thiệu Công ty
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../GioiThieuTTCSKH.aspx">
                                            Giới
                                            thiệu Trung tâm chăm sóc khách
                                            hàng
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_blank"
                                           href="http://nshn.com.vn/portaldvc/Home/default.aspx">
                                            Dịch vụ công
                                            cấp nước
                                        </a>


                                    </li>

                                </ul>

                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle textEffect" data-toggle="dropdown">
                                    Thông tin hỗ trợ khách hàng
                                </a>


                                <ul class="dropdown-menu itemMenu">

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../LichGCSDHCacNgayLeTet.aspx">
                                            1.
                                            Lịch ghi chỉ số đồng hồ nước
                                            trong các ngày lễ, tết
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../ThongTinGiaNuoc.aspx">
                                            2. Biểu
                                            giá bán nước
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self"
                                           href="../CachTinhTienNuocSinhHoatBacThang.aspx">
                                            3. Cách tính tiền
                                            nước sinh hoạt bậc thang
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self"
                                           href="../PhuongthucThanhtoan.aspx?idpt=15">
                                            4. Các hình thức thanh
                                            toán tiền nước
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../Diemthutiennuoc.aspx">
                                            5. Danh
                                            sách điểm thu tiền nước
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self"
                                           href="../DSPhongGiaoDichKhachHang.aspx">
                                            6. Danh sách phòng giao dịch
                                            khách hàng
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self"
                                           href="../DSSTKChuyenThuCuaCacXNKDNS.aspx">
                                            7. Danh sách số tài khoản
                                            chuyên thu của Các Xí nghiệp Kinh doanh nước sạch
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../DSNganHangLienKet.aspx">
                                            8. Danh
                                            sách ngân hàng liên kết
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self"
                                           href="../ThongBaoApDungHoaDonDienTu.aspx">
                                            9. Thông báo áp dụng hóa
                                            đơn điện tử
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../DichVu.aspx">
                                            10.
                                            Đăng ký nhận Hóa đơn điện tử
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self"
                                           href="../TuVanSuDungNuocHieuQua.aspx">
                                            11. Tư vấn sử dụng nước hiệu
                                            quả
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../HoiDap.aspx">
                                            12.
                                            Hỏi đáp
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../VanBanPhapLuat.aspx">
                                            13. Văn
                                            bản pháp quy
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../Lich_HDDT.aspx">
                                            14.
                                            Hóa đơn điện tử
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../XacThucHDDT.aspx">
                                            15. Xác thực
                                            hóa đơn điện tử
                                        </a>


                                    </li>

                                </ul>

                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle textEffect" data-toggle="dropdown">
                                    Hướng dẫn sử dụng
                                </a>


                                <ul class="dropdown-menu itemMenu">

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../HDSD.aspx?idhd=5">
                                            Hướng dẫn
                                            đăng ký người dùng
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../HDSD.aspx?idhd=2">
                                            Hướng dẫn tải
                                            Hóa đơn điện tử
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../HDSD.aspx?idhd=3">
                                            Hướng dẫn In
                                            Hóa đơn điện tử
                                        </a>


                                    </li>

                                </ul>

                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle textEffect" data-toggle="dropdown">
                                    Thông tin - Tin tức
                                </a>


                                <ul class="dropdown-menu itemMenu">

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../ContactUs.aspx">
                                            Thông tin liên
                                            hệ
                                        </a>


                                    </li>

                                    <li>
                                        <a class="tintuc textEffect" target="_self" href="../TinTuc.aspx">
                                            Tin
                                            tức
                                        </a>


                                    </li>

                                </ul>

                            </li>






                        </ul>
                    </div>
                    <!--/end container-->
                </div>
                <!-- End menu nav -->
            </div>
        </div>
    </div>