
<script type="text/javascript">
    //<![CDATA[

WebForm_InitCallback();//]]>
</script>
</form>
<!-- JS Global Compulsory -->
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/jquery.parallax.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/fancybox/fancybox/jquery.fancybox-1.3.4.js">
</script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/fancybox/fancybox/jquery.easing-1.3.pack.js">
</script>
<script type="text/javascript"
        src="~/Assets/Client/App_Themes/assets/plugins/fancybox/fancybox/jquery.mousewheel-3.0.4.pack.js">
</script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/OwlCarousel/dist/owl.carousel.min.js">
</script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/plugins/OwlCarousel/dist/owl.carousel.min.js">
</script>


<script type="text/javascript"
        src="~/Assets/Client/App_Themes/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript"
        src="~/Assets/Client/App_Themes/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js">
</script>
<!-- JS Customization -->
<!-- JS Page Level -->
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/js/app.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/js/plugins/fancy-box.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="~/Assets/Client/App_Themes/assets/js/plugins/revolution-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
    App.init();
    App.initParallaxBg();
    FancyBox.initFancybox();
    OwlCarousel.initOwlCarousel();
    RevolutionSlider.initRSfullWidth();
});
</script>
<!--[if lt IE 9]>
<script src="App_Themes/assets/plugins/respond.js"></script>
<script src="App_Themes/assets/plugins/html5shiv.js"></script>
<script src="App_Themes/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
