
    <div class="container content-sm content_theme_icon">
        <div class="row title_theme">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 content-boxes-v6">
                <a href="http://nshn.com.vn/portaldvc/Home/default.aspx" target="_blank"
                   style=" text-decoration:none !important;">
                    <img style="" src="~/Assets/Client/Images/icon/icon1-DVOnline.png" class="img-circle img-thumbnail"
                         alt="">
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">Dịch vụ<br />nước trực tuyến</h1>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 content-boxes-v6">
                <a href="/Lich_TNCCNuoc.aspx" target="_blank" style=" text-decoration:none !important;">
                    <img style="" src="~/Assets/Client/Images/icon/icon2-TBCapNuoc.png" class="img-circle img-thumbnail"
                         alt="">
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">Lịch tạm ngừng<br />cấp nước</h1>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 content-boxes-v6">
                <a href="/TraCuuChiSoHoaDon.aspx" target="_blank" style=" text-decoration:none !important;">
                    <img style="" src="~/Assets/Client/Images/icon/icon3-Tracuu.png" class="img-circle img-thumbnail" alt="">
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">Tra cứu<br />chỉ số - hóa đơn</h1>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 content-boxes-v6">
                <a href="/XacThucHDDT.aspx" target="_blank" style=" text-decoration:none !important;">
                    <img style="" src="~/Assets/Client/Images/icon/icon4-XacthucHD.png" class="img-circle img-thumbnail"
                         alt="">
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">Xác thực<br />hóa đơn điện tử</h1>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 content-boxes-v6">
                <a href="/LichGhiChiSo.aspx" target="_blank" style=" text-decoration:none !important;">
                    <img style="" src="~/Assets/Client/Images/icon/icon5-Lichsudungnuoc.png" class="img-circle img-thumbnail"
                         alt="">
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">Lịch ghi chỉ số</h1>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 content-boxes-v6">
                <a href="/PhuongthucThanhtoan.aspx" target="_blank" style=" text-decoration:none !important;">
                    <img style="" src="~/Assets/Client/Images/icon/icon6-Thanhtoan.png" class="img-circle img-thumbnail"
                         alt="">
                    <h1 class="title-v3-md text-uppercase margin-bottom-10">Các hình thức<br />thanh toán</h1>
                </a>
            </div>
        </div>
        <!--/row-->
    </div>