
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
                    data-title='"Văn phòng HAWACOM"+"1"'>
                    <!-- MAIN IMAGE -->
                    <img src="~/Assets/Client/App_Themes/assets/img/sliders/hanoi/hawacom.jpg" alt="Văn phòng HAWACOM"
                         data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start" data-x="0" data-hoffset="0" data-y="60"
                         data-speed="1500" data-start="500" data-easing="Back.easeInOut" data-endeasing="Power1.easeIn"
                         data-endspeed="300">
                        CHẤT LƯỢNG - ỔN ĐỊNH
                    </div>
                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft" data-x="0" data-hoffset="0" data-y="120" data-speed="1400"
                         data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                         data-captionhidden="off" style="z-index: 6">
                        HAWACOM, với mục tiêu đáp ứng nhu cầu của khách hàng, cung cấp sản phẩm dịch vụ có Chất
                        lượng - Ổn định
                        <br />cùng với hệ thống quản trị doanh nghiệp tiên tiến, thường xuyên đổi mới công nghệ,
                        mang đến sản phẩm tốt nhất cho khách hàng.
                    </div>
                </li>
                <!-- END SLIDE -->
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
                    data-title='"Hồ Gươm Đêm Giao Thừa"+"2"'>
                    <!-- MAIN IMAGE -->
                    <img src="~/Assets/Client/App_Themes/assets/img/sliders/hanoi/hoguom2.jpg" alt="Hồ Gươm Đêm Giao Thừa"
                         data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start" data-x="0" data-hoffset="0" data-y="60"
                         data-speed="1500" data-start="500" data-easing="Back.easeInOut" data-endeasing="Power1.easeIn"
                         data-endspeed="300">
                        TẬN TÂM - TRÍ TUỆ
                    </div>
                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft" data-x="0" data-hoffset="0" data-y="120" data-speed="1400"
                         data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                         data-captionhidden="off" style="z-index: 6">
                        HAWACOM luôn thể hiện trách nhiệm cao, tinh thần học hỏi <br />và nỗ lực áp dụng những
                        kiến thức mới nhằm tạo nên sản phẩm, dịch vụ làm hài lòng khách hàng.
                    </div>
                </li>
                <!-- END SLIDE -->
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
                    data-title='"Chèo thuyền"+"4"'>
                    <!-- MAIN IMAGE -->
                    <img src="~/Assets/Client/App_Themes/assets/img/sliders/hanoi/cheothuyen.jpg" alt="Chèo thuyền"
                         data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start" data-x="0" data-hoffset="0" data-y="60"
                         data-speed="1500" data-start="500" data-easing="Back.easeInOut" data-endeasing="Power1.easeIn"
                         data-endspeed="300">
                        SÁNG TẠO - HIỆU QUẢ
                    </div>
                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft" data-x="0" data-hoffset="0" data-y="120" data-speed="1400"
                         data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                         data-captionhidden="off" style="z-index: 6">
                        Phát huy tính chủ động, sáng tạo mang lại hiệu quả cao nhất vì sự phát triển bền vững
                        của Công ty.
                    </div>
                </li>
                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>